<?xml version="1.0"?>

<configuration>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" compilerOptions="/d:DEBUG,TRACE" extension=".cs" warningLevel="4"  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </compilers>
  </system.codedom>
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
